# Ignore everything
/*

# But not these directories
!/Assets/
/Assets/*
!/Assets/PassthroughCameraApiSamples/
/Assets/PassthroughCameraApiSamples/*
!/Assets/PassthroughCameraApiSamples/CameraToWorld/
!/Assets/Editor/
!/Assets/Scripts/

# Don't ignore .gitignore
!.gitignore
*.meta
*.unity
/Assets/PassthroughCameraApiSamples/CameraToWorld/Materials
/Assets/PassthroughCameraApiSamples/CameraToWorld/Prefabs
